# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity